# Correlação para o Menor Dataset

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data1 = pd.read_csv('Dados_Covid_Socio.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   date                                          4176 non-null   object
 1   city                                          4176 non-null   object
 2   last_available_confirmed                      4176 non-null   int64
 3   Gini_Index_2010                               4176 non-null   float64
 4   access_to_water_and_basic_sanitatio_per_cent  4176 non-null   float64
 5   MHDI_income                                   4176 non-null   float64
 6   MHDI_education                                4176 non-null   float64
 7   aging_rate                                    4176 non-null   float64
 8   extremely_poor_per_cent                       4176 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 293.8+ KB

In [3]:
corr_total1 = data1.corr()

In [4]:
corr_total1

,last_available_confirmed,Gini_Index_2010,access_to_water_and_basic_sanitatio_per_cent,MHDI_income,MHDI_education,aging_rate,extremely_poor_per_cent
last_available_confirmed,1.000000,0.221036,-0.190379,0.427840,0.360016,-0.170094,-0.261681
Gini_Index_2010,0.221036,1.000000,-0.051241,0.331240,0.178299,-0.065402,0.157009
access_to_water_and_basic_sanitatio_per_cent,-0.190379,-0.051241,1.000000,-0.591142,-0.533942,0.230456,0.615141
MHDI_income,0.427840,0.331240,-0.591142,1.000000,0.837958,-0.326296,-0.827574
MHDI_education,0.360016,0.178299,-0.533942,0.837958,1.000000,-0.183042,-0.688106
aging_rate,-0.170094,-0.065402,0.230456,-0.326296,-0.183042,1.000000,0.371202
extremely_poor_per_cent,-0.261681,0.157009,0.615141,-0.827574,-0.688106,0.371202,1.000000

# Correlação para o Dataset Maior

In [5]:
data = pd.read_csv('Dataset_finalizado.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9670 entries, 0 to 9669
Columns: 235 entries, last_available_date to IDHM_R
dtypes: float64(232), int64(1), object(2)
memory usage: 17.3+ MB

In [6]:
corr_total2 = data.corr()
corr_refac = corr_total2

for c in corr_total2.columns:
    corr_refac[c].loc[corr_refac[c] >= 0.7] = 11111
    corr_refac[c].loc[corr_refac[c] <= -0.7] = 11111

In [7]:
colunas = corr_refac.columns.tolist()
colunas.append('XX')
index = 0
col = colunas[index]

while(col != 'XX'):
    del_list = corr_refac[col].loc[corr_refac[col]==11111].index

    for i in del_list:
        if(i != col):
            corr_refac = corr_refac.drop(index=i)
            corr_refac = corr_refac.drop(columns=i)
            colunas.remove(i)

    index += 1 
    col = colunas[index]

colunas.remove('XX')

In [8]:
print(colunas)

['last_available_confirmed', 'ESPVIDA', 'FECTOT', 'RAZDEP', 'T_ENV', 'E_ANOSESTUDO', 'T_ANALF11A14', 'T_ANALF25A29', 'T_ATRASO_0_MED', 'T_ATRASO_1_BASICO', 'T_ATRASO_2_MED', 'T_FBBAS', 'T_FBMED', 'T_FBPRE', 'T_FBSUPER', 'T_FLBAS', 'T_FREQ0A3', 'T_FREQ11A14', 'T_FREQ15A17', 'T_FREQ18A24', 'T_FREQ25A29', 'T_FREQ4A5', 'T_FREQ6', 'T_FREQFUND1517', 'T_FREQFUND1824', 'T_FREQFUND45', 'T_FREQMED1824', 'T_FREQMED614', 'T_FREQSUPER1517', 'T_FUND11A13', 'T_FUND18A24', 'CORTE4', 'GINI', 'PIND', 'PRENTRAB', 'RIND', 'CPR', 'EMP', 'P_COM', 'P_CONSTR', 'P_EXTR', 'P_SERV', 'P_SIUP', 'P_TRANSF', 'T_ATIV', 'T_ATIV1014', 'T_DES', 'T_DES1014', 'T_DES1517', 'THEILtrab', 'TRABPUB', 'TRABSC', 'T_AGUA', 'T_DENS', 'T_LIXO', 'T_LUZ', 'PAREDE', 'T_M10A14CF', 'T_M15A17CF', 'T_MULCHEFEFIF014', 'T_OCUPDESLOC_1', 'T_RMAXIDOSO', 'HOMEM75A79', 'pesoRUR']

# Exportando Dataset Filtrado

In [9]:
new_data = pd.DataFrame()
new_data['last_available_date'] = data['last_available_date']
new_data['city'] = data['city']

for col in colunas:
    new_data[col] = data[col]

In [10]:
new_data.to_csv(path_or_buf='Dataset_finalizado_filtrado.csv', index=False)